<style type="text/css">
	nav{
		background-color:#101010;
	}
  .navbar-brand{
    color:gold;
  }
  .navbar.navbar-inverse.navbar-fixed-top{
    padding:0px;
  }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <h3 class="navbar-brand" href="#">Is this easy mode?</h3>
    </div>
    
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>Bleeding edge imported libraries, bottom of the barrel aesthetics.</h2>
    <h4><a class="btn btn-primary btn-lg" routerLink="/blackjack" routerLinkActive="active">Play my Janky Blackjack game</a></h4>
    <!-- Sample button+anchor -->
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
<!--   <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-8">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
   </div>
    
  </div> -->
  <router-outlet></router-outlet>

  <hr>

  <footer>
    <p>© 2016 Company, Inc.</p>
  </footer>

</div> <!-- /container -->

